<md-content class="md-padding" ui-view>
    <div layout-align="center">
        <md-list>
            <div ng-repeat="post in postList.posts">
                <md-list-item ng-click="postList.jumpToPost(post.slug)">
                    <div class="md-list-item-text">
                        <h3 ng-click="postList.jumpToPost(post.slug)">
                            {{ post.title }}
                        </h3>

                        <div ng-if="post.excerpt" ng-bind-html="post.excerpt"></div>
                        <div ng-if="!post.excerpt" ng-bind-html="post.excerpt"></div>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </div>
        </md-list>
    </div>
</md-content>