<md-content class="md-padding" ui-view>
    <md-card ng-repeat="post in postList.posts">
        <md-card-content>
            <h2 class="md-title" ng-click="postList.jumpToPost(post.slug)">
                {{ post.title }}
            </h2>
            <md-content ng-if="post.excerpt" ng-bind-html="post.excerpt">
            </md-content>
            <md-content ng-if="!post.excerpt" ng-bind-html="post.excerpt">
            </md-content>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
        </div>
    </md-card>
</md-content>