<div ng-controller="AppCtrl" layout="column" flex id="side-nav">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 flex"
                    layout="column"
                    md-component-id="left"
                    ng-style="menuBackground(-1)"
                    md-is-locked-open="$mdMedia('gt-md')" flex>

            <md-list ng-controller="LeftCtrl" class="md-default-primary">
                <span ng-repeat="menuItem in menus"
                      ng-style="menuBackground($index)"
                      ng-if="menuItem.type == 'custom'">
                    {{ menuItem.content }}
                </span>
                <span ng-repeat="menuItem in menus">
                    <md-list-item ng-click="menuItem.ngClick(menuItem.param)"
                                  ng-if="menuItem.type == 'action'"
                                  ng-style="menuBackground($index)"
                                  class="md-default-warm">
                        {{ menuItem.name }}
                    </md-list-item>

                    <md-divider
                            ng-if="menuItem.type == 'divider'"></md-divider>
                </span>
            </md-list>
        </md-sidenav>
        <section layout="column" flex>
            <md-toolbar class="md-tall md-accent" ng-controller="ToolbarCtrl" flex>
                <h2 class="md-toolbar-tools">
                    <span>{{ title }}</span>
                </h2>
                <div ncy-breadcrumb></div>
            </md-toolbar>
            <md-content flex ng-transclude></md-content>
        </section>

        <md-sidenav class="md-sidenav-right md-whiteframe-z2"
                    md-component-id="right" flex>
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Keyword</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-sidenav-focus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>