<div ng-controller="AppCtrl" layout="column" flex style="height: 100%;">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 flex"
                    layout="column"
                    md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')" flex>

            <md-toolbar>
                <h1 class="md-toolbar-tools"></h1>
            </md-toolbar>

            <md-content layout-padding ng-controller="LeftCtrl">
                <menu-link class="ng-isolate-scope">
                    <a ng-click="toggleRight()" class="md-button md-default-theme">
                        Search
                    </a>
                </menu-link>
            </md-content>

        </md-sidenav>
        <md-content flex layout-padding ng-transclude>

        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2"
                    md-component-id="right" flex>
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Search</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Keyword</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-sidenav-focus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>